@import "tailwindcss";
* {
  scrollbar-width: none; /* Firefox uchun */
  -ms-overflow-style: none; /* Internet Explorer va Edge uchun */
}

/* Webkit brauzerlar (Chrome, Safari) uchun */
*::-webkit-scrollbar {
  display: none;
}
